<!-- <div class="">
    <div class="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">For Test</a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">New In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Best Sellers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category 1</a></li>
                        <li><a class="dropdown-item" href="#">Category 2</a></li>
                        <li><a class="dropdown-item" href="#">Category 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">For Test</a>


        <div class="mx-auto">
            <ul class="navbar-nav d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">New In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Best Sellers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category 1</a></li>
                        <li><a class="dropdown-item" href="#">Category 2</a></li>
                        <li><a class="dropdown-item" href="#">Category 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        
        <div class="d-flex align-items-center">
            <!-- Search Icon -->
            <a href="#" class="mx-3 text-center text-decoration-none text-dark">
              <i class="fas fa-search"></i>
              <div>Search</div>
            </a>
            
            <!-- Bag Icon -->
            <a href="#" class="mx-3 text-center text-decoration-none text-dark">
              <i class="fas fa-shopping-bag"></i>
              <div>Bag</div>
            </a>
            
            <!-- Heart Icon -->
            <a href="#" class="mx-3 text-center text-decoration-none text-dark">
              <i class="fas fa-heart"></i>
              <div>Dreamlist</div>
            </a>
            
            <!-- Profile Icon -->
            <a href="#" class="mx-3 text-center text-decoration-none text-dark">
              <i class="fas fa-user"></i>
              <div>Profile</div>
            </a>
          </div>
    </div>
</nav>